@font-face {
  font-family: "Raleway";
  font-weight: 400;
  font-style: normal;
  font-display: auto;
  unicode-range: U+000-5FF;
  src: local("Raleway"), url("../font/Raleway-Regular.ttf");
}

@font-face {
  font-family: "Raleway";
  font-weight: 500;
  font-display: auto;
  unicode-range: U+000-5FF;
  src: local('Raleway'), url("../font/Raleway-Medium.ttf");
}


@font-face {
  font-family: "Raleway";
  font-weight: 600;
  font-display: auto;
  unicode-range: U+000-5FF;
  src: local('Raleway'), url("../font/Raleway-SemiBold.ttf");
}

@font-face {
  font-family: "Raleway";
  font-weight: 700;
  font-style: bold;
  font-display: auto;
  unicode-range: U+000-5FF;
  src: local("Raleway"), url("../font/Raleway-Bold.ttf");
}
